div.spin {
	-webkit-animation: rotation 5s linear infinite;
    -moz-animation: rotation 5s linear infinite;
    -ms-animation: rotation 5s linear infinite;
}

@-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotation {
    0%   { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotation {
    0%   { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
}

body {
	background-image: url("spiral.gif");
	background-size: cover;
}